.upperSection{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2196F3;
    padding: 4%;
    width: 50%;
    
}


.upperSection1{
    background-color: white;
    padding: 3%;
   
}